 
body {
    margin: 0;
    padding: 100px;
  }
#pattern{
    height: 100px;
    background-image:url('/Users/teresacruzburillo/Desktop/DevProjects/dasmoto/resources/images/pattern.webp');
    font-family:Helvetica;
    font-size:100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    padding: 100 0;
}
h1,
h3, 
h4, 
p {
    font-family: "Helvetica", sans-serif;
}
h3{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#green{
    background-color: mediumspringgreen;
}
#orange{
    background-color: lightcoral;
}
#blue{
    background-color: lightblue;
}
.price {
    font-weight: bold;
    color: blue;
}